<div class="terminal-line"><span class="terminal-comment">// Question Pack JSON structure</span></div>
<div class="terminal-line">{</div>
<div class="terminal-line">&nbsp;&nbsp;<span style="color: #38bdf8;">"title"</span>: <span style="color: #a7f3d0;">"JEE Advanced Sample Paper"</span>,</div>
<div class="terminal-line">&nbsp;&nbsp;<span style="color: #38bdf8;">"subject"</span>: <span style="color: #a7f3d0;">"Physics"</span>,</div>
<div class="terminal-line">&nbsp;&nbsp;<span style="color: #38bdf8;">"durationMinutes"</span>: 180,</div>
<div class="terminal-line">&nbsp;&nbsp;<span style="color: #38bdf8;">"sections"</span>: [{</div>
<div class="terminal-line">&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #38bdf8;">"name"</span>: <span style="color: #a7f3d0;">"Section 1 (Single Correct)"</span>,</div>
<div class="terminal-line">&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #38bdf8;">"markingScheme"</span>: { <span style="color: #38bdf8;">"correct"</span>: 4, <span style="color: #38bdf8;">"incorrect"</span>: -1 },</div>
<div class="terminal-line">&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #38bdf8;">"questions"</span>: [{</div>
<div class="terminal-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #38bdf8;">"id"</span>: <span style="color: #a7f3d0;">"q1"</span>,</div>
<div class="terminal-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #38bdf8;">"text"</span>: <span style="color: #a7f3d0;">"Central potential $V(r) = -k/r$ satisfies..."</span>,</div>
<div class="terminal-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #38bdf8;">"correctOptionId"</span>: <span style="color: #a7f3d0;">"opt1"</span></div>
<div class="terminal-line">&nbsp;&nbsp;&nbsp;&nbsp;}]</div>
<div class="terminal-line">&nbsp;&nbsp;}]</div>
<div class="terminal-line">}</div>
